body {
  font-size: 30px;
  font-family: 'Forma Nuova Neretta', sans-serif;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  -webkit-font-smoothing: antialiased;
  background-color: black;
  margin: 0;
}


/*Header*/

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.head {
  background-color: #3369FF;
  color: white;
  display: flex;
  transform: translateY(-45px);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.slide {
  transform: translateY(0);
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: none;
  color: yellow;
}

.headblock {
  text-transform: uppercase;
  width: 33.33%;
  padding: 14px 10px 10px 10px;
}


/*Logo*/

header h1 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

header h1 a:hover {
  color: white;
}

header .power {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center 12.3px;
  -moz-transform-origin: center 12.3px;
  -o-transform-origin: center 12.3px;
  -ms-transform-origin: center 12.3px;
  transform-origin: center 12.3px;
  display: inline-block;
}

header .dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}


/*Nav*/

header nav {
  text-align: center;
}

header nav a:after {
  content: ',';
}

header nav a:last-child:after {
  content: '';
}


/*Cart*/

header .cart {
  text-align: right;
}
