// Mixins

@mixin p($property, $val)
  -webkit-#{$property}: $val
  -moz-#{$property}: $val
  -ms-#{$property}: $val
  #{$property}: $val

@mixin ner
  font-family: 'Forma Nuova Neretta', sans-serif
  -moz-font-feature-settings: "ss02", "ss03"
  -webkit-font-feature-settings: "ss02", "ss03"
  font-feature-settings: "ss02", "ss03"
  -webkit-font-smoothing: antialiased

$font-size: 22px;



// General
body
  font-size: $font-size
  line-height: 1.2em
  color: #0D1720
  +ner
  margin: 0
  background-color: yellow

h1
    font-size: 16px
    line-height: 1em
    font-weight: normal
    text-align: left
    margin: 0

a
  color: black
  text-decoration: underline
  &:hover
    color: yellow



// Header
header
  background: linear-gradient( rgba(255,255,0,1) 0%, rgba(242,232,224,1) 100%)
  position: fixed
  z-index: -1000
  top: 0
  height: 50vh
  width: 100%
  text-align: center

.logo
  margin: 20px auto 0
  width: calc(100vw - 40px)
  pointer-events: auto
  img
    width: 100%




// Project Index

.project, .info
  padding: 20px 20px 80px
  background: linear-gradient( rgba(255,255,0,1) 0%, rgba(242,232,224,1) 100%) 
  div
    width: 50%
    max-width: 1000px
  img
    width: 100%
    max-width: 1000px

.project:first-of-type
  margin-top: 50vh

.head-info
  display: flex

input[type=submit], .link a
  +ner
  font-size: $font-size
  text-decoration: none
  padding: 20px
  border: 1px solid black
  border-radius: 40px
  background-color: rgba(0,0,0,0)
  color: black
  cursor: pointer
  color: #0D1720
  &:hover
    background-color: yellow



// Footer



// Mobile

@media only screen and (max-width: 800px)

  .project, .info
    div
      width: 100%

  .head-info
    display: inline-block

  body, input[type=submit], .link a
    font-size: 24px

  .proj-thumb img
    max-width: 100%