@font-face {
	font-family: 'Forma Nuova Corsiva';
	src: url('webfonts/FormaNuova-Corsiva.eot');
	src: url('webfonts/FormaNuova-Corsiva.eot?#iefix') format('embedded-opentype'),
		url('webfonts/FormaNuova-Corsiva.woff') format('woff'),
		url('webfonts/FormaNuova-Corsiva.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Forma Nuova Neretta';
	src: url('webfonts/FormaNuova-Neretta.eot');
	src: url('webfonts/FormaNuova-Neretta.eot?#iefix') format('embedded-opentype'),
		url('webfonts/FormaNuova-Neretta.woff') format('woff'),
		url('webfonts/FormaNuova-Neretta.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
