@font-face {
	font-family: 'Forma Nuova Corsiva';
	src: url('webfonts/formanuova-corsiva.eot');
	src: url('webfonts/formanuova-corsiva.eot?#iefix') format('embedded-opentype'),
		url('webfonts/formanuova-corsiva.woff') format('woff'),
		url('webfonts/formanuova-corsiva.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Forma Nuova Neretta';
	src: url('webfonts/formanuova-neretta.eot');
	src: url('webfonts/formanuova-neretta.eot?#iefix') format('embedded-opentype'),
		url('webfonts/formanuova-neretta.woff') format('woff'),
		url('webfonts/formanuova-neretta.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}